:root {
  --primary: #58ccec; 
  /* oklch(65.69% 0.196 275.75); */
  --secondary: #B7BF10; 
  /* oklch(74.8% 0.26 342.55); */
  --accent: #A9431E;
  /* oklch(74.51% 0.167 183.61); */
  --neutral: #2a323c;
  --neutral-content: #A6ADBB;
  --base-100: #5D1725;
  --base-200: #191e24;
  --base-300: #777777;
  --base-content: #fefefe;
  --info: #17a2b8;
  --success: #28a745;
  --warning: #f0ad4e;
  --error: #dc3545;
}
